<!-- <h3>data binding</h3>
<h4>Interpolation</h4>
{{ fname }} {{ lname }}
<p>{{test()}}</p>
<p>{{5+3}}</p>
<p>{{average(5,3)}}</p>
 <img src="{{imgSRC}}"> 
<p>{{user.age}}</p>

<h4 [style.color]="'blue'">property binding</h4>
<img [src]="imgSRC"> 
<button [disabled]="flag">btn</button>
<div [innerHTML]="x"></div>

<h4>Event binding</h4> -->
<button (click)="handelClick()" class="btn btn-danger">increase</button> 
<h2 class="d-inline-block">{{num}}</h2>
<button (click)="handelClick2()" class="btn btn-danger">decrease</button>