{{>header}}
<section class="taskContainer">
{{#each mydata}}

    <div class="task">
    <h3>{{this.title}}</h3>
    <h4>{{this.body}}</h4>
    <a href="{{this.id}}">single</a>
    </div>
    {{/each}}
</section>




{{>footer}}