<table class="table">
    <thead>
        <th>#</th>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users; index as i; 
        let o=odd; let e = even"
        [ngClass]=" { odd:o , even:e } ">
            <td>{{i}}</td>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </tbody>
</table>